@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


body{
    background-color: #fff;
    margin: 0;
    font-family: sans-serif;

}
.logo{
    height: 100px;
    width: 150px;
}



.navbar{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.nav-buttons{
    margin-left: 10%;
   
}

.navbar-light .navbar-nav .nav-link{
    padding:  0 20px;
    color: black;
    transition: 0.4s ease;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i:hover{
    color:  coral;
}

button{
    background-color: #D9D9D9;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
button:hover{
    background-color: coral;
}

.navbar i{
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    transition:  0.4s ease;
    cursor: pointer;
}
#home{
background-image: url('/Images/key\ chain\ wallpaper.jpg');
margin-top: 8%;
width: 100%;
height: 100vh;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
#home span{
    color: coral;
}

#new .one img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
}
#new .one{
    position: relative;
}
#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.5;
    background-color: grey;
    width: 80%;
    height: 80%;
}

#new .one .details:hover{
    background-color: #FFCDC1;;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

/*PRODUCT*/

.product{
    cursor: pointer;
    margin-bottom: 2 rem;
}
.product img{
    transition: 0.3s all;
    border-radius: 20px;
    width: 80%;
}
.product:hover img{
    opacity: 0.6;
}

/*Mid banner*/
#banner{
background-image: url('/Images/key\ chain\ wallpaper.jpg');
margin-top: 8%;
width: 100%;
height: 60vh;
background-size: cover;
background-position-x:center ;
background-position-y: 10px;
background-repeat: no-repeat;
background-attachment: fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
#banner h3{
    color: coral;
}




footer{
    background-color: #FFCDC1;
}
footer h6{
    font-weight: 700;
}

footer li{
    padding-bottom: 10px;
}
footer li a{
    color: grey;
    text-decoration: none;
}

footer li a:hover{
    color: #fff;
}

footer .copyright a{
    color: black;
    height: 40px;
    width: 40px;
    background-color: aliceblue;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color: coral;
    background-color: aliceblue;
}
footer p{
    color: black;
}

footer .copyright img{
    width: 60%;
}

.navbar .brand{
    margin-right: 15%;
    margin-left: -2%;
    font-size: 22px;
}
.navbar .brand-second{
    font-size: 12px;
}

hr{
    width: 10%;
    color: #FFCDC1;
    background-color: red;
    height: 2px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product input:focus{
    outline: none;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-product .buy-btn{
    background-color: #D9D9D9;
    opacity: 1;
    transition: 0.4s all;
}
.single-product .buy-btn:hover{
    background-color: coral;
}

/*CART*/

.cart table{
    width: 100%;
    border-collapse: collapse;
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}
.cart th{
    text-align: left;
    padding: 5px 10px;
    color: black;
    background-color: #FFCDC1;

}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 100px;
    height: 120px;
    margin-right: 10px;
}
.cart td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.cart td a{
    color: coral;
}
.cart .remove-btn{
    color: coral;
    text-decoration: none;
    font-size: 14px;
}
.cart .edit-btn{
    color: coral;
    text-decoration: none;
    font-size: 14px;
}
.cart .product-info p {
    margin: 3px;
}
.cart-total{
    display: flex;
    justify-content: flex-end;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 4px solid #FFCDC1;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}
.checkout-btn{
    background-color: coral;
    color: black;
}




#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    
}

#login-form input{
    width: 70%;
    margin:  5px auto;
}

#login-form #login-btn{
    width: 30%;
    background-color: coral;
    color: black;
}

#login-form #register-url{
    color: coral;
}


#registration-form{

    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
}

#registration-form input{
     width: 70%;
    margin:  5px auto;
}

#registration-form #register-btn{
    width: 30%;
    background-color: coral;
    color: black;
}

#registration-form #login-url{
    color: coral;
}
#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}
#account-form input{
    margin: 5px auto;
}
#account-form #change-pass-btn{
    color: black;
    background-color: coral;
}
.account-info #order-btn, #logout-btn{
    color: coral;
    text-decoration: none;
}


/*ORDERS*/
.orders table{
    width: 100%;
    border-collapse: collapse;

}
.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}
.orders th{
    text-align: left;
    padding: 5px 10px;
    color: black;
    background-color: coral;
}

.orders th:nth-child(2){
    text-align: right;
}

.orders td{
    padding: 10px 20px;
}
.orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}




/*Checkout*/
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
    
}

#checkout-form .checkout-large-element{
    
    width: 96%;
    
    
}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn{
    color: black;
    background-color: coral;
}

/*Contace*/
#contact span{
    color: coral;
}